@import play.api.libs.json.JsObject

@(recentWork: List[JsObject],lastestArticles:List[JsObject])


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 margin30">
                    <div class="footer-col">
                        <h3 class="heading">@Messages("ourPageOnFacebook")</h3>
                        <div class="fb-like-box" data-href="https://www.facebook.com/pages/%D9%85%D9%86%D8%AA%D8%B3%D9%88%D8%B1%D9%8A-%D9%81%D9%8A-%D8%A7%D9%84%D9%85%D9%86%D8%B2%D9%84/1449609541918665" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                    </div>


                </div><!--footer col-->
                <div class="col-md-3 margin30">
                    <div class="footer-col">
                        <h3 class="heading">@Messages("socialNetworks")</h3>
                        <ul class="list-inline social-1">
                            <li><a target="fb" href="https://www.facebook.com/pages/%D9%85%D9%86%D8%AA%D8%B3%D9%88%D8%B1%D9%8A-%D9%81%D9%8A-%D8%A7%D9%84%D9%85%D9%86%D8%B2%D9%84/1449609541918665"><i class="fa fa-facebook" data-toggle="tooltip" title="" data-original-title="Facebook" data-placement="top"></i></a></li>
                            <li><a target="ytb" href="https://www.youtube.com/channel/UCM7X57U2xsx769EJeyWFhQw"><i class="fa fa-youtube-square" data-toggle="tooltip" title="" data-original-title="Youtube" data-placement="top"></i></a></li>

                        </ul>
                    </div>
                    <div class="divide30"></div>
                    <div class="footer-col">
                        <h3 class="heading">@Messages("Newsletter")</h3>
                        <p>
                            @Messages("newLetterMessages")
                        </p>
                        <form class="newsletter-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <label class="sr-only" for="subscribe-email">Email address</label>
                                        <input type="email" class="form-control" id="subscribe-email" placeholder="@Messages("Enter_your_email")">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-theme-bg btn-lg">@Messages("OK")</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 margin30">
                    <div class="footer-col">

                        <h3 class="heading">@Messages("latestArticles")</h3>
                        <ul class="list-unstyled popular-post">
                            @for(lasPost <- lastestArticles ){
                            <li>
                                <div class="popular-img">
                                    <a href="#"> <img src="@{(lasPost\"cover").as[String]}" class="img-responsive" alt=""></a>
                                </div>
                                <div class="popular-desc">
                                    <h5> <a href="/post/@{(lasPost\"url").as[String]}">@{(lasPost\"title").as[String]}</a></h5>
                                    <!--<h6>31st july 2014</h6>-->
                                </div>
                            </li>
                            }

                        </ul><!--latest post-->
                    </div>
                </div><!--footer col-->


                <div class="col-md-3 margin30">
                    <div class="footer-col">
                        <h3 class="heading">من نحن</h3>
                        <p>
                            هذا النشاط و على الرغم من بساطته، لكنه قوى تركيزها لدرجة أن معلمتها تساءلت عن السر وراء ازدياد قدرتها على التركيز بشكل مفاجئ.
                            إن الأنشطة التي أشاركها معكم على صفحات هذه المدونة، بالرغم من كوننا نرى أنها تتوقف عند تعلم الطفل
                        </p>
                        <ul class="address-info list-unstyled">
                            <li><i class="fa fa-envelope"></i> <a href="#">info@@arabicmontessori.com</a></li>
                        </ul>
                    </div>
                </div>
            </div><!--row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-btm">
                        <span>&copy; arabicmontessori.com</span>
                    </div>
                </div>
            </div><!--footer btm-->
        </div>
    </footer><!--footer end-->

