@import play.api.libs.json.JsUndefined

@import play.api.libs.json.JsObject

@(posts: String)

@fullwidth("Welcome to Play") {
    <div class="col-md-12" ng-app="blog" ng-controller="adminCtrl" ng-cloak>
        <div ng-show="!edit" class="animate-show">
            <button class="btn btn-info" ng-click="addPost()"><i class="glyphicon glyphicon-plus-sign"></i></button>
            <button class="btn btn-info" ng-click="getCurrentPagePosts(true)"><i class="glyphicon glyphicon-fast-forward"></i></button>
            <button class="btn btn-info" ng-click="getCurrentPagePosts()"><i class="glyphicon glyphicon-fast-backward"></i></button>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@Messages("title")</th>
                        <th>@Messages("author")</th>
                        <th>@Messages("creationDate")</th>
                        <th>@Messages("edit")</th>
                        <th>@Messages("delete")</th>
                        <th>@Messages("publish_unpublish")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="post in posts | orderBy:orderPridicate" ng-show="!post.deleted">
                        <td>{{post.title}}</td>
                        <td>{{post.author.fullName}}</td>
                        <td>{{post.creationDate | date:"dd/MM/yyyy ' ' HH:mm"}}</td>
                        <td><button class="btn btn-info" ng-click="editPost(post)"><i class="glyphicon glyphicon-edit"></i></button></td>
                        <td><button class="btn btn-danger" ng-click="deletePost('@Messages("deleteWarning")',post)"><i class="glyphicon glyphicon-remove"></i></button></td>
                        <td><button class="btn btn-danger" ng-show="!post.published" ng-click="publishPost('@Messages("publish_warning")',post,true)">@Messages("publish")<i class="glyphicon glyphicon-play"></i></button>
                            <button class="btn btn-danger" ng-show="post.published" ng-click="publishPost('@Messages("unpublish_warning")',post,false)">@Messages("unpublish")<i class="glyphicon glyphicon-pause"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-hide="!edit" class="row animate-show">

            <div class="col-md-12">
                <form method="POST" action="/preview" target="preview">
                    <button type="button" class="btn btn-info" ng-click="save()">@Messages("save")</button>
                    <button type="button" class="btn btn-danger" ng-click="cancelEdit()">@Messages("cancel")</button>
                    <button type="submit" class="btn btn-default">@Messages("preview")</button>
                    <div class="form-group">
                        <label for="exampleInputEmail1">@Messages("title")</label>
                        <input type="title" class="form-control" id="exampleInputEmail1" ng-model="post.title">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">@Messages("URL")</label>
                        <input type="title" class="form-control" id="exampleInputEmail1" ng-model="post.url">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">@Messages("Tags")</label>
                        <tags-input  ng-model="post.tags" replace-spaces-with-dashes="false" >
                            <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
                        </tags-input>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">@Messages("CoverImage")</label>
                        <ul>
                            <li ng-repeat="img in post.imgs" style="display: inline">
                                <input type="radio" ng-model="post.cover" ng-value="img"> <img ng-src="{{img}}?size=s"/>
                            </li>
                        </ul>
                    </div>


                    <div class="form-group">
                        <label for="exampleInputFile">@Messages("body")</label>
                        <textarea ckeditor="editorOptions" id="bodyTextArea" class="form-control" rows="30" ng-model="post.body"></textarea>

                    </div>
                    <input style="display:none" type="text" value="{{post}}" name="preview" id="preview"/>
                    <button type="button" class="btn btn-info" ng-click="save()">@Messages("save")</button>
                    <button type="button" class="btn btn-danger" ng-click="cancelEdit()">@Messages("cancel")</button>
                    <button type="submit" class="btn btn-default">@Messages("preview")</button>
                </form>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.3.10/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.3.10/angular-animate.min.js"></script>
    <!--<script type="text/javascript" src="@routes.Assets.at("js/tinymce/tinymce.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/tinymce.js")"></script>          -->
    <script type="text/javascript" src="@routes.Assets.at("js/ng-ckeditor.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/ng-tags-input.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers.js")"></script>
}