@import play.api.libs.json.JsArray

@import play.api.libs.json.JsUndefined

@import play.api.libs.json.JsObject

@(post: JsObject)

@blog("Welcome to Play") {
    <div ng-app="comment" ng-controller="commentCtrl">
        <div class="blog-wrap">

            <div class="blog-desc">
                <h4><a href="#">@{
                    (post \ "title").as[String]
                }</a></h4>
                <div>
                @Html((post \ "body").as[String])
                </div>
                <ul class="list-inline post-deatil">
                    <li><a href="#">@{
                        (post \ "author" \ "fullName").as[String]
                    }</a></li>
                    <li>الثلاثاء، 7 أكتوبر، 2014</li>
                    <li>التسميات: 6-2 سنوات, الأنشطة الحركية, الحياة العملية</li>
                </ul>

            </div>
        </div><!--blog wrap-->



        <h3>@Messages("Comments")</h3>
        <ul class="list-unstyled comments-list">

            <li ng-repeat="comment in comments  track by $index">
                <!--<img class="avtar" src="img/team-2.jpg" alt="">-->
                <div class="meta">

                    <span>{{comment.name}} , {{comment.date | date:"dd/MM/yyyy ' ' HH:mm" }} </span>


                </div>
                <p>
                    {{comment.comment}}
                </p>
            </li>

        </ul><!--comments list-->


        <h3>@Messages("LeaveComment")</h3>
        <div class="contact-form" >


            <hr/>

            <form >
                <div class="form-group">
                    <label for="name">@Messages("Name")</label>
                    <input type="text" class="form-control" id="name" ng-model="comment.name">
                </div>
                <div class="form-group">
                    <label for="mail">@Messages("Email")</label>
                    <input type="email" class="form-control" id="mail" required="" ng-model="comment.email">
                </div>
                <div class="form-group">
                    <label for="comment">@Messages("Comment")</label>
                    <textarea class="form-control" rows="6" id="comment" name="comment" required="" ng-model="comment.comment"></textarea>
                </div>

                <div
                vc-recaptcha
                key="'6LexHAETAAAAAFEaACovnzLcfR9zDBUzwxfiYzBW'"
                ></div>
                <br/>
                <button ng-click="sendComment()" class="btn btn-theme-bg">@Messages("LeaveComment")</button>

            </form><!--form-->

        </div>
    </div>
}

