@import java.util.Date

@import play.api.libs.json.JsString

@import play.api.libs.json.JsArray

@import play.api.libs.json.JsUndefined
@import tags.adsense
@import play.api.libs.json.JsObject
@import controllers.Application

@(posts: JsObject, asearch:Boolean, pages:Int, query: String, totalResult:Int)(implicit request: play.api.mvc.Request[AnyContent])


@blog("Welcome to Play",Application.tagsAggregation) {
<div class="col-md-12">
                    <style>
                        em{
                            font-weight: bold;
                        }
                    </style>
    @if(asearch){
        <script>
            jQuery("#searchBox").val('@query');
            //alert("here");
        </script>
        <div>@Html(Messages("resultFound",totalResult,"<b>"+query+"</b>"))</div>
        <hr/>
    }
    @for(post <- (posts\"results"\"hits").as[Array[JsObject]] ){

        <style>
            .noResultFound{
                display: none;
            }
        </style>

        <div class="blog-wrap">
            <div class="blog-desc">
                <h4><a href="/@{(post\"_source"\"url").as[String]}">@{(post\"_source"\"title").as[String]}</a></h4>


                @if(asearch){
                @{
                    val html = (post \ "highlight" \ "title") match {
                        case js: JsArray => {
                            js.as[Array[JsString]].map(e => e.as[String]).mkString("...")
                        }
                        case jsUndefined: JsUndefined => {
                            ""
                        }

                    }
                    Html(html)
                }
                @{
                    val html = (post \ "highlight" \ "body") match {
                        case js: JsArray => {
                            js.as[Array[JsString]].map(e => e.as[String]).mkString("...")
                        }
                        case jsUndefined: JsUndefined => {
                            ""
                        }

                    }

                    Html(html)
                }
                }else{
                    <a href="/@{(post\"_source"\"url").as[String]}">
                        <div style="text-align: center;margin-top: 30px;">
                            @{
                                val coverImg = (post\"_source"\"cover") match {
                                    case jsUndefined: JsUndefined => {""}
                                    case js:JsString => {
                                        "<div style='height:370px;overflow: hidden;' class=\"im_container\"><img style='width:100%;' class='img-responsive coverImg' alt='workimg' src='"+js.as[String]+"'/></div>"
                                    }
                                }
                                Html(coverImg)
                            }
                        </div>
                    </a>
                    <ul class="list-inline post-deatil" style="padding-right: 0px;margin-bottom: 25px;margin-top: 10px;">

                        <li>@{Html(Messages("postedBy",(post\"_source"\"author"\"fullName").as[String],formatDate((post\"_source"\"creationDate").as[Date])))}</li>
                        <li>

                            @Messages("tags"):
                            @{
                                val html = (post \"_source" \ "tags" ) match {
                                    case js: JsArray => {
                                        js.as[Array[JsObject]].map(e => s"<a href='/tags/${(e\"text").as[String]}'>${(e\"text").as[String]}</a>").mkString(",")
                                    }
                                    case jsUndefined: JsUndefined => {""}
                                }

                                Html(html)
                            }

                        </li>
                    </ul>
                    <div style="font-size: 20px;line-height: 31px;">@{Html(trimBody((post\"_source"\"body").as[String])+" [...]")}</div>
                    <br/>
                    <div style="text-align: right;margin-top: 20px;color:#f99200;"><a href="/post/@{(post\"_source"\"url").as[String]}">@Messages("More")</a></div>

                }

            </div>

        </div><!--blog wrap-->

        @if((post \ "showAdds").as[Boolean]){
            <div class="blog-wrap">
                <div class="blog-desc">
                @adsense(1)
                </div>
            </div>
        }
        }
    <div class="noResultFound">

    </div>

    <div class="col-md-12 text-center noResultFound">

        <h3>@Messages("NoResultFound")</h3>
    </div>

    @if(pages>1){
        <div style="text-align: center">
            <ul class="pagination">

                <li><a href="?query=@{request.getQueryString("query").getOrElse("")}&page=@{if((request.getQueryString("page").getOrElse("1")).toInt-1>0){(request.getQueryString("page").getOrElse("0")).toInt-1}else{1}}">»</a></li>
                @for( i <- 1 to pages ){
                    <li class="@{(if((""+i).equals(request.getQueryString("page").getOrElse("1"))){"active"}else{""})}">

                        <a href="?query=@{request.getQueryString("query").getOrElse("")}&page=@i">@i</a>
                    </li>
                }

                <li><a href="?query=@{request.getQueryString("query").getOrElse("")}&page=@{if((request.getQueryString("page").getOrElse("1")).toInt+1<pages){(request.getQueryString("page").getOrElse("1")).toInt+1}else{pages}}">«</a></li>

            </ul>
        </div>

            <ul class="pager">
                <li class="previous"><a href="?query=@{request.getQueryString("query").getOrElse("")}&page=@{if((request.getQueryString("page").getOrElse("1")).toInt-1>0){(request.getQueryString("page").getOrElse("0")).toInt-1}else{1}}">&larr; السابق</a></li>
                <li class="next"><a href="?query=@{request.getQueryString("query").getOrElse("")}&page=@{if((request.getQueryString("page").getOrElse("1")).toInt+1<pages){(request.getQueryString("page").getOrElse("1")).toInt+1}else{pages}}">اللاحق&rarr;</a></li>
            </ul>
        }
    </div>

    }

